*, body, html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { 
    animation: fadeInAnimation ease 2s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
  
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

:root {
    --main-bg-color: #151515;
    --primary-color: #e7e7e7;
    --secondary-color: #73787C;
}

body {
    background-color: var(--main-bg-color); 
}

* {
    color: var(--primary-color);
    font-family: 'Muli', sans-serif;
}

h1 {
    font-size: 3rem;
}
/* Home Starts */
.container {
    display: flex;
    height: 100vh;
}

.info-container {
    padding: 100px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.work-container {
    width: 50%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Home Ends */

/* Intro Starts */
.header {
    margin-bottom: 50px;
}

.description p {
    line-height: 1.8rem;
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.text-link {
    color: var(--primary-color);
}
/* Intro End */

/* Contacts Starts */
.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.display-picture {
    flex-basis: 40%;
}

.display-picture img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.links {
    flex-basis: 60%;
    display: flex;
    justify-content: space-evenly;
}
/* Contacts End */

/* Carousel Starts */
.carousel-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.carousel-container p {
    font-size: 2rem;
}

.transparent-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.scale-up {
    transition: transform 300ms;
}

.scale-up img {
    transition: transform 300ms;
}

.scale-up :hover {
    transform: scale(1.2);
}

p {
    /* transition: all 1s; */
    background: red;
}

p :hover {
    /* transform: translateX(100px); */
    /* transform: scale(2); */
    background: yellow;
}
/* Carousel End */